<header
	class="bg-warmPeach text-black">
	<div
		class="container mx-auto flex justify-between items-center p-4">
		<h1
			class="text-2xl font-bold font-poppins">
			<a
				href="{{ home_url }}" class="hover:text-teal-400">
				Prince Doula
			</a>
		</h1>
		<nav>
			<ul
				class="flex space-x-4 font-poppins">
				{% for item in header_menu.items %}
					<li>
						<a
							href="{{ item.link }}" class="hover:text-teal-400">
							{{ item.title }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</header>
